* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  font-family: "Poppins";
}

:root {
  --bg-color: rgb(0, 0, 0);
  --second-bg-color: rgb(57, 54, 54);
  --text-color: white;
  --second-text-color: rgb(255, 227, 186);
  --main-color: aqua;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 2rem 9%;
}
.title {
  font-size: 2.8rem;
  font-weight: 800;
  color: var(--text-color);
}
nav {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav a {
  font-size: 2rem;
  color: var(--text-color);
}

.items:hover > .items:not(:hover) {
  color: black;
}

.Home {
  position: relative;
  min-height: 100vh;
  display: grid;
  padding: 0;
}
Section {
  position: relative;
  height: 110vh;
  padding: 10rem 9% 2rem;
}

.Projects {
  background-color: var(--second-bg-color);
}
.circle {
  place-self: center;
  position: absolute;
  animation: spin 4s ease-in-out infinite;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #fff, -20px 0 200px #fff, 20px 0 200px #fff,
    20px 0 50px #e9661f;
}
@keyframes spin {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(0);
  }
}

.home-intro {
  grid-column: 2 / 15;
  grid-row: 2 / 4;
  font-size: 3rem;
  width: 450px;
  height: 200px;
}
.text h1 {
  line-height: 2;
  font-weight: 900;
}
.text .expert {
  margin-bottom: 2rem;
}
.text h3 {
  font-size: 3.5rem;
}
.text h3 span {
  font-size: 3.5rem;
  color: var(--second-text-color);
}
.text p {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}
.social-media {
  display: flex;
  justify-content: space-between;
  width: 220px;
}

.social-media a {
  color: #fff;
  width: 38px;
  height: 38px;
  border-style: outset;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.social-media a:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
  box-shadow: 0 0 1rem var(--text-color);
}
.cv {
  border-style: outset;
  padding: 1rem 2.8rem;
  border-radius: 50px;
  font-size: 2rem;
  color: var(--bg-color);
  box-shadow: 0 0 1rem var(--text-color);
  background-color: var(--text-color);
  font-weight: 600;
}
.cv:hover {
  box-shadow: none;
}
.About {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6em;
}
.img-seft {
}
.img-seft img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  box-shadow: 30px 0px 200px rgb(255, 225, 205);
}
.about-text h2 {
  font-size: 4.5em;
  margin-bottom: 0.1em;
}
.about-text h2 span {
  color: var(--second-text-color);
}
.about-text h3 {
  font-size: 3em;
  margin-bottom: 2em;
}
.about-text p {
  font-size: 2em;
  margin-bottom: 2em;
}

.about-text a {
  padding: 1rem 2.8rem;
  border-style: outset;
  font-size: 2rem;
  box-shadow: 0 0 1rem var(--text-color);
  background-color: var(--text-color);
  color: var(--bg-color);
  border-radius: 50px;
  font-weight: 600;
}

.about-text a:hover {
  box-shadow: none;
}
.Education {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.edu-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50rem;
  width: 70%;
}
.line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 0px;
  height: 50rem;
  border-style: solid;
  border-color: #fff;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 5rem;
}
.line a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.line a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: #fff;
  border-style: solid;
}
.edus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: outset;
  padding: 10%;
  font-size: 1.2rem;
  height: 110px;
  min-width: 200px;
  border-radius: 2rem;
  margin-bottom: 2rem;
}
.edus:hover {
  transform: scale(1.05, 1.05);
  animation: li 1s linear;
}
@keyframes li {
}
.edus h2 {
  color: var(--second-text-color);
}
.edu-left {
  height: 50rem;
  width: 50%;
}
.edu-right {
  width: 50%;
  height: 50rem;
}
.tex-journey {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 110px;
  font-size: 2.5rem;
}
.my-journey-2 {
  margin-left: 10px;
  background: linear-gradient(90deg, rgb(0, 113, 234), rgb(255, 0, 247));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#tranphu {
  margin-top: 14rem;
}
#hue {
  margin-top: 1rem;
}
#cva {
  margin-top: 13rem;
}
#daison {
  margin-top: 14rem;
}
.Skill {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.skil-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
  font-size: 2.5rem;
}
.skill-children {
  width: 100%;
  height: 80%;
  border: #ff0000;
  border-style: solid;
  display: flex;
  justify-content: center;
}
.lang-skill {
  width: 45%;
  border: #1d96ff;
  border-style: solid;
  padding: 3%;
}
.soft-skill {
  padding: 3%;
  width: 45%;
  border: #fff;
  border-style: solid;
}
